local/
results~/
blog_post/
*.png
*.jpg
*.json
*.h5
*.log
*.gif
*.avi
*.gz
pics/
logs/
saved_models/
server_results/
anim/
summary/
tb_logs*
not_used/

## Some defaults ##
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Atom's symbols
.tags


# dotenv
.env

# virtualenv
.venv
venv/
ENV/
